= form_for([:admin,@store], local: true) do |form|
  .field
    = form.label :Nombre 
    = form.text_field :name, class:"form-control"
  .field
    = form.label :Categoria
    = form.text_field :category, class:"form-control"
  .field
    = form.label :Link
    = form.text_field :connecting_link, class:"form-control"
  .field
    = form.label :Listar
    = form.text_field :list_products, class:"form-control"
  .field
    = form.label :Comprar
    = form.text_field :buy_product, class:"form-control"
  = form.submit class: "btn be-red white"