%table.table.table-striped
  %thead
    %tr.sticky
      %th Nombre
      %th Imagen
      %th Descripcion
      %th Precio
      %th Disponibilidad
      %th Compra
  %tbody
    - @products.each do |product|
      %tr
        %td= product["name"]
        %td 
          %img(src= "#{product["image"]}")
        %td.font-size= product["description"]
        %td= number_to_currency(product["price"])
        %td= product["quantity"]
        %td 
          %form{ action: "#{product['path']}#{product['id']}", display: "none", method: "post", target: 'fremename'}
            %input{ type: "number", name: "quantity", placeholder: "Cantidad", min: "1", max: "#{product["quantity"]}"}
            %br
            %br
            %input.btn.be-red.white{ type: "submit", value: "Comprar" }
            %input{ name: "_method", value: "PUT", hidden: "true" }
           
                           
      
