!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title HACKS-ELECTRONICS!!!
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %link{:crossorigin => "anonymous", :href => "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css", :integrity => "sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy", :rel => "stylesheet"}/
    
    %body
    %p.notice= notice
    %p.alert= alert
    %body
    %header
      %nav.be-red.white.large-padding
        %ul.no-list.row.center-xs.middle-xs
          %li.col-md
            %h1#logo.no-margin HACKS-ELECTRONICS
          - if admin_signed_in?
            %li.col-md
              = link_to "Cerrar Sesion", destroy_admin_session_path, method: :delete
          - else
            %li.col-md
              = link_to "Iniciar Sesion", new_admin_session_path

    = yield
